---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #2ecc71;
$theme-dark: rgba(51,122,183,.9);
$kids-primary: #FCAF58;
$kids-dark: #FF8C42;
$kids-accent: #4E598C;
$kids-dull: #eeeeee;

// $kids-primary: #E8871E;
// $kids-dark: #D45113;
// $kids-accent: #2E2E3A;
// $kids-dull: #eeeeee;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
