<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Feel free to reach out to us in case of any queries. You can find us at:</p>
                </div>
            <div class="col-lg-3 col-lg-offset-1 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://facebook.com/{{ site.facebook_id }}">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.facebook_id }}</p>
                </a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://www.google.co.in/maps/place/c%2Fo+SpringBoard,+Shop+1009,+Heera+Panna+Shopping+center+Mumbai,+Maharashtra+400076,+TeachCoder,+20,+Orchard+Ave,+MHADA+Colony+19,+Powai,+Mumbai,+Maharashtra+400076/@19.1185774,72.9052459,17z/data=!4m2!3m1!1s0x3be7c7e47086af31:0xcd83a601b8ce2395" target="_blank">
                <i class="fa fa-map-marker fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>c/o The Springboard, shop 1009, Heera Panna Center, Powai, Mumbai</p>
                </a>
            </div>
        </div>
</section>
