<section class="course-landing-section" id="testimonials">
		<h1 class="text-center">
			What our students say?
		</h1>
		<div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-testimonial" data-slide-to="1"></li>
				<!-- <li data-target="#carousel-testimonial" data-slide-to="2"></li> -->
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="row">
						<div class="container">
							<div class="col-lg-6">
								<div class="student-testimonial">
									<!-- <img class="img-circle" src="img/student.jpg"> -->
									<p class="testimonial-text">I never thought I can create a mobile apps so easily. I love programming now.
									</p>
									<p class="student-info">Mohit Ranjan, <i>Kendriya Vidyalaya, IIT Powai</i></p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="project-container">
									<img src="{{site.base_url}}/img/mohit_app.PNG">
									<p>Maths Quiz app by <i>Mohit</i></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item ">
					<div class="row">
						<div class="container">
							<div class="col-lg-6">
								<div class="student-testimonial">
									<!-- <img class="img-circle" src="img/student.jpg"> -->
									<p class="testimonial-text">It was a great learning experience, I enjoyed a lot. The best part was I created my own apps.
									</p>
									<p class="student-info">Nirav Anney, <i>Oberoi International School</i></p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="project-container">
									<img src="{{site.base_url}}/img/nirav_game.PNG">
									<p>Catch me if you can by <i>Nirav</i></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="item ">
					<div class="row">
						<div class="container">
							<div class="col-lg-6">
								<div class="student-testimonial">
									<img class="img-circle" src="img/student.jpg">
									<p class="testimonial-text">It was a great learning experience, I enjoyed a lot. The best part was I get to create my own idea.
									</p>
									<p class="student-info">Mohit Rajan, <i>Kendriya Vidyalaya, IIT Powai</i></p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="project-container">
									<img src="img/scratch.jpg">
									<p>Space band by <i>Nirav</i></p>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
			<!-- Controls -->
		  <a class="left carousel-control" href="#carousel-testimonial" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-testimonial" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</section>