<section class="course-header" style="background-image: url('{{site.base_url}}/{{page.header-img}}');">
		<div class="row">
			<div class="container">
				<div class="col-lg-9">
					<h1>{{page.headline}} </h1>
					<h2> {{ page.sub-headline}}</h2>
				</div>
			</div>
		</div>
		<div class="form-container">
			<h3>Get in touch!</h3>
			<form role="form" action="https://formspree.io/arnav@teachcoder.in" method="POST">
				<div class="form-group">
					<label for="name">Name:</label> 
					<input type="text" class="form-control" name="name">
				</div>
				<div class="form-group">
					<label for="email">Email address:</label>
					<input type="text" class="form-control" name="email">
				</div>
				<div class="form-group">
					<label for="contact">Contact no:</label>
					<input type="text" class="form-control" name="contact">
				</div>
				<button type="submit" class="btn btn-default" name="submit">Contact</button>
			</form>
		</div>	
	</section>