html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

.navbar-default {
    background-color: white;
    border-color: rgba($theme-dark, .5);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $theme-primary;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba(white, .3);
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(white, .7);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: rgba(white, .7);
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: rgba( $theme-primary, .9 );
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

//Blog styling
.post-container{
    margin: 54px;
}

ul.post-list{
    list-style: none;
    li {
        margin: 36px;
        a {
            font-size: 36px;
        }
    }
}


// course landing page styling
// body#landing-page-top{
//     h1{
//         font-family: 'Copse', serif;
//         font-size: 48px;
//         margin-top:0; 
//         text-shadow: 1px 1px 1px #1a1a1a;
//         color: $kids-primary;
//     }
//     h2{
//         font-family: 'PT Sans', sans-serif;
//         padding-left:0;
//         margin-left: 0; 
//         text-shadow: 1px 2px 2px #1a1a1a;
//     }
//     p{
//         font-family: 'PT Sans', sans-serif;
//         font-size: 24px;
//     }
//     a {
//     @include transition-all;
//     color: $kids-primary;
//     &:hover,
//     &:focus {
//         color: darken($kids-primary, 10%);
//     }
//     hr.primary{
//         border-color: $kids-primary;
//     }
// }
// }
// section.course-header{
//     position: relative;
//     width: 100%;
//     height: 450px;
//     background-repeat: no-repeat;
//     background-size: 100% auto;
//     text-align: left;
//     padding: 48px;
//     color: white;
//     vertical-align: center;
//     div.form-container{
//         padding: 0 20px;
//         -webkit-box-shadow: 2px 3px 17px 4px rgba(0,0,0,0.75);
//         -moz-box-shadow: 2px 3px 17px 4px rgba(0,0,0,0.75);
//         box-shadow: 2px 3px 17px 4px rgba(0,0,0,0.75);
//         background: $kids-primary;
//         width: 300px;
//         height: 340px;
//         position: absolute;
//         margin-right: 50px;
//         right: 0;
//         border-radius: 6px;
//         top: 200px;
//         button{
//             float: right;
//             @include button-variant(white, $kids-dark, white);
//         }
//         h3{
//             font-family: 'PT Sans', Sans;
//         }
//         label{
//             font-family: 'PT Sans', Sans;
//             font-size: 16px;
//         }
//         input{
//             border: 3px solid $kids-primary;
//             &:focus{
//                 border: 3px solid $kids-dark;
//             }
//         }
//     }
//     @media (max-width: 480px) {
//         height: 450px;
//         background-size: auto 100%;
//         div.form-container{
//             display: none;
//         }
//         h2{
//             color: white;
//             font-size: 24px;
//         }
        
//     }
// }

// section.course-landing-section{
// padding: 50px 0;
// }
// section#value-section{
//     padding-top: 90px;
//     background: $kids-dull;
//     ul.features-list{
//         list-style: none;
//         text-align: center;
//         padding: 0;
//         color: $kids-accent;
//         li{
//             font-family: 'PT Sans', sans-serif;
//             font-size: 24px;
//             width: 360px;
//             display: inline-block;
//             padding: 24px;
//             i{
//                 display: block;
//                 margin: 24px;
//             }
//         }
//     }
// }

// section#testimonials{
//     background: $kids-accent;
//     h1{
//         color: $kids-primary;
//     }
//     div.item{
//         padding: 60px;
//         color: white;
//         div.student-testimonial{
//             text-align: right;
//             padding-bottom: 50px;
//             img{
//                 width: 80px;
//             }
//         }
//         div.project-container{
//             img{
//                 width: 50%;
//             }
//             p{
//                 font-size: 12px;
//                 color: white;
//             }
//         }
//     }
//     a.carousel-control{
//         background: none;
//     }
//     @media (max-width: 480px) {
//         div.item{
//             div.student-testimonial{
//                 text-align: center;
//                 padding-bottom: 50px;
//                 img{
//                     width: 80px;
//                 }
//             }
//             div.project-container{
//                 text-align: center;
//             img{
//                 width: 70%;
//             }
//             p{
//                 font-size: 12px;
//                 color: white;
//             }
//         }
//         }
//     }
// }

// section#CTA{
//     background: #eeeeee;
//     div.form-wrapper{
//         padding: 24px;
//         input{
//             border: 3px solid #ccc;
//             &:focus{
//                 border: 3px solid #555;
//             }
//         }
//         label{
//             font-size: 20px;
//             font-family: 'PT Sans', Sans;
//         }
//         button{
//             @include button-variant(white, $kids-dark, white);
//             font-size: 20px;
//             float: right;
//             border-radius: 12px;
//             color: white;
//             text-transform: none;
//             padding: 14px;
//         }
//     }
// }

// section#footer{
//     background: $kids-accent;
//     color: white;
//     padding-bottom: 0;
//     img{
//         margin: auto;
//     }
//     hr{
//         border-color: $kids-primary;
//     }

// }

// button.fixed-button{
//     position: fixed;
//     bottom: 0;
//     right: 0;
//     margin: 35px;
//     text-align: center;
//     z-index: 1200;
//     background: $kids-dark;
//     color: white;
//     box-shadow: 4px 4px 5px $kids-accent;
//     text-transform: none;
//     i{
//         margin-right: 8px;
//     vertical-align: middle;
//     }
    
    
// }
// .contact-btn + .tooltip.top > .tooltip-inner {
//     background-color: #eeeeee;
//     color: $kids-dark;
//     font-size: 18px;
//     font-weight: 700;
// }
// .contact-btn + .tooltip.top > .tooltip-arrow {display: none;}

$themes: (
  junior-course: (primary: #FCAF58, secondary: #4E598C),
  theme-photoshop: (primary: #FCAF58, secondary: red),
  android-course: (primary: #F4D06F, secondary: #392F5A)
) !default;

@each $theme, $map in $themes {
  @include theme($theme, map-get($map, primary), map-get($map, secondary));
}

// @include theme('junior-course', #FCAF58, #4E598C);
// @include theme('android-course', #F4D06F, #392F5A);