@mixin transition-all()
{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin button-variant($color, $background, $border)
{
	color: $color;
	background-color: $background;
	border-color: $border;
	@include transition-all;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		color: $color;
		background-color: darken($background, 10%);
    border-color: darken($border, 12%);
	}
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

@mixin sans-serif-font()
{
	font-family: 'Alegreya Sans', sans-serif, Arial, sans-serif;
}

@mixin serif-font()
{
	font-family: 'Bitter', serif, Arial, sans-serif;
}

@mixin theme($theme-name, $color, $sec-color){
	$primary-color: $color;
	$secondary-color: $sec-color;
	$base-text-color: white;

	.#{$theme-name}{
		h1{
	        font-family: $header-font-family;
	        font-size: 48px;
	        margin-top:0; 
	        text-shadow: 1px 1px 1px #1a1a1a;
	        color: $base-text-color;
	    }
	    h2{

	        font-family: $base-font-family;
	        padding-left:0;
	        margin-left: 0; 
	        text-shadow: 1px 2px 2px #1a1a1a;
	    }
	    p{
	        font-family: $base-font-family;
	        font-size: 24px;
	    }
	    a {
		    @include transition-all;
		    color: $primary-color;
		    &:hover,
		    &:focus {
		        color: darken($primary-color, 10%);
		    }
		}
	    hr.primary{
	        border-color: $primary-color;
	    }

	    section.course-header{
		    position: relative;
		    width: 100%;
		    height: 450px;
		    background-repeat: no-repeat;
		    background-size: 100% auto;
		    background-attachment: fixed;
		    text-align: left;
		    padding: 48px;
		    color: white;
		    vertical-align: center;
		    div.form-container{
		        padding: 0 20px;
		        -webkit-box-shadow: 2px 3px 17px 4px rgba(0,0,0,0.75);
		        -moz-box-shadow: 2px 3px 17px 4px rgba(0,0,0,0.75);
		        box-shadow: 2px 3px 17px 4px rgba(0,0,0,0.75);
		        background: $secondary-color;
		        width: 300px;
		        height: 340px;
		        position: absolute;
		        margin-right: 50px;
		        right: 0;
		        border-radius: 6px;
		        top: 200px;
		        button{
		        	
		        	padding: 12px 24px;
		            float: right;
		            @include button-variant(white, $primary-color, white);
		        }
		        h3{
		        	color: $primary-color;
		        	font-size: 26px;
		            font-family: $base-font-family;
		        }
		        label{
		            font-family: $base-font-family;
		            font-size: 16px;
		        }
		        input{
		            border: 3px solid $secondary-color;
		            &:focus{
		                border: 3px solid $primary-color;
		            }
		        }
		    }
		    @media (max-width: 480px) {
		        height: 450px;
		        background-size: auto 100%;
		        div.form-container{
		            display: none;
		        }
		        h2{
		            color: white;
		            font-size: 24px;
		        }
		        
		    }
		}

		section.course-landing-section{
		padding: 50px 0;
		}
		section#value-section{
		    padding-top: 90px;
		    background: #fff;
		    h1{
		    	color: $secondary-color;
		    	text-shadow: none;
		    }
		    ul.features-list{
		        list-style: none;
		        text-align: center;
		        padding: 0;
		        color: $secondary-color;
		        li{
		            font-family: $base-font-family;
		            font-size: 24px;
		            width: 360px;
		            display: inline-block;
		            padding: 24px;
		            i{
		                display: block;
		                margin: 24px;
		            }
		        }
		    }
		}

		section#testimonials{
		    background: $secondary-color;
		    h1{
		        color: $primary-color;
		    }
		    div.item{
		        padding: 60px;
		        color: white;
		        div.student-testimonial{
		            text-align: right;
		            padding-bottom: 50px;
		            img{
		                width: 80px;
		            }
		            .student-info{
		            	color: darken($primary-color, 0%);
		            	font-size: 17px;
		            }
		        }
		        div.project-container{
		            img{
		            	max-height: 200px;
		                width: auto;
		            }
		            p{
		                font-size: 12px;
		                color: white;
		            }
		        }
		    }
		    a.carousel-control{
		        background: none;
		    }
		    @media (max-width: 480px) {
		        div.item{
		            div.student-testimonial{
		                text-align: center;
		                padding-bottom: 50px;
		                img{
		                    width: 80px;
		                }
		            }
		            div.project-container{
		                text-align: center;
		            img{
		                width: 70%;
		            }
		            p{
		                font-size: 12px;
		                color: white;
		            }
		        }
		        }
		    }
		}

		section#CTA{
		    background: #fff;
		    h1{
		    	color:$secondary-color;
		    text-shadow: none; 
		    }
		    div.form-wrapper{
		        padding: 24px;
		        input{
		            border: 3px solid #ccc;
		            &:focus{
		                border: 3px solid #555;
		            }
		        }
		        label{
		            font-size: 20px;
		            font-family: $base-font-family;
		        }
		        button{
		            @include button-variant(white, darken($primary-color, 10%), white);
		            font-size: 20px;
		            float: right;
		            border-radius: 12px;
		            color: white;
		            text-transform: none;
		            padding: 14px;
		        }
		    }
		}

		section#footer{
		    background: $secondary-color;
		    color: white;
		    padding-bottom: 0;
		    img{
		        margin: auto;
		    }
		    hr{
		        border-color: $primary-color;
		    }

		}

		button.fixed-button{
		    position: fixed;
		    bottom: 0;
		    right: 0;
		    margin: 35px;
		    text-align: center;
		    z-index: 1200;
		    background: darken($primary-color, 10%);
		    color: white;
		    box-shadow: 4px 4px 5px rgba(0,0,0,0.75);
		    text-transform: none;
		    i{
		        margin-right: 8px;
		    vertical-align: middle;
		    }
		    
		    
		}
		.contact-btn + .tooltip.top > .tooltip-inner {
		    background-color: #eeeeee;
		    color: darken($primary-color, 10%);
		    font-size: 18px;
		    font-weight: 700;
		}
		.contact-btn + .tooltip.top > .tooltip-arrow {display: none;}

		
	}
}