<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{{page.css-id}}">
	<a href="tel:08879217083"><button type="button" class="btn btn-default contact-btn fixed-button" data-toggle="tooltip" data-placement="top" title="+91 88792 17083"><i class="fa fa-phone fa-2x"></i> Contact us now</button></a>
	{% include course-header.html %}
	
	{% include why-us.html %}

	{% include course-testimonials.html %}
	<section class="course-landing-section" id="CTA">
		<h1 class="text-center"> Enroll your kid now!</h1>
		<div class="row">
			<div class="container">
				<div class="text-center col-lg-8 col-lg-offset-2">
					<p>We have seen many kids get excited after seeing their apps and games on a smart-phone.
					</p>
					<div class="form-wrapper">
						<form class="form-horizontal" role="form" action="https://formspree.io/arnav@teachcoder.in" method="POST">
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">Name:</label> 
								<div class="col-sm-9">
									<input type="text" class="form-control" name="name">	
								</div>
							</div>
							<div class="form-group">
								<label for="contact" class="col-sm-3 control-label">Contact:</label> 
								<div class="col-sm-9">
									<input type="text" class="form-control" name="contact">	
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="col-sm-3 control-label">Email:</label> 
								<div class="col-sm-9">
									<input type="text" class="form-control" name="email">	
								</div>
							</div>
							<button type="submit" class="btn btn-default" name="submit">Enroll Now!</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="footer" class="course-landing-section">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-10 col-lg-offset-1 text-center">
	                <h2 class="section-heading">Let's Get In Touch!</h2>
	                <hr class="primary">
	                <p>Feel free to reach out to us in case of any other queries. You can find us at:</p>
	            </div>
	        <div class="col-lg-3 col-lg-offset-1 text-center">
	            <a href="https://twitter.com/{{ site.twitter_username }}">
	                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
	                <p>{{ site.twitter_username }}</p>
	            </a>
	        </div>
	        <div class="col-lg-3 text-center">
	            <a href="https://facebook.com/{{ site.facebook_id }}">
	            <i class="fa fa-facebook-official fa-3x wow bounceIn" data-wow-delay=".1s"></i>
	                <p>{{ site.facebook_id }}</p>
	            </a>
	        </div>
	        <div class="col-lg-3 text-center">
	            <a href="https://www.google.co.in/maps/place/c%2Fo+SpringBoard,+Shop+1009,+Heera+Panna+Shopping+center+Mumbai,+Maharashtra+400076,+TeachCoder,+20,+Orchard+Ave,+MHADA+Colony+19,+Powai,+Mumbai,+Maharashtra+400076/@19.1185774,72.9052459,17z/data=!4m2!3m1!1s0x3be7c7e47086af31:0xcd83a601b8ce2395" target="_blank">
	            <i class="fa fa-map-marker fa-3x wow bounceIn" data-wow-delay=".1s"></i>
	                <p>c/o The Springboard, Shop 1009, Heera Panna Center, Powai - 400076</p>
	            </a>
	        </div>
	        <a href="http://www.teachcoder.in"><img class="img-responsive" src="{{site.base_url}}/img/whiteLogo.png"></a>
	    </div>

</section>
	{% include scripts.html %}
	<script type="text/javascript">
		$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
	</script>
</body>
</html>